*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
header{
    width: 100%;
    height: auto;
    padding-bottom: 75px;
}
nav{
    background-color: aliceblue;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
}
nav ul{
    margin-right: 50px;
}
nav ul li{
    margin: 20px;
    float: right;
    display: inline;
}
li a{
    font-size: 1.5em;
    color: black;
    text-decoration: none;
}
.logo_space{
    float: left;
    padding: 1em;
    width: 30%;
}
.logo{
    font-size: 1.5em;
    text-decoration: none;
}

.about{
    height: auto;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
div.polaroid{
	position: relative;
	background-color: white;
	padding: 10px;
	margin: 5px 0 25px 0;
	margin-bottom: 25px;
	box-shadow: 15px 15px 15px rgba(0, 0, 0, .2);
}
img{
	width: 100%;
	height: auto;
}
.texto{
	padding: 10px;
	text-align: center;
}
.imgtext{
	position: absolute;
	top: 8%;
	left: 30px;
	color: black;
    font-size: 18px;
}
.text_about {
    padding: 10px;
	text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: aliceblue;
}
.text_content{
    padding: 1em 3em;
	text-align: justify;
    
}
.polaroids{
    align-items: center;
}
.sect {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#video_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    }
    #video_pattern {
    background:#fff;
    position: fixed;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    }


@media screen and (max-width: 480px){
    nav ul li{
        display: none;
    }
    .logo_space{
        width: 70%;
    }
}
@media screen and (min-width: 481px) and (max-width: 760px) {
    nav ul li{
        display: none;
    }
    .logo_space{
        width: 80%;
    }
}
@media screen and (min-width:  761px){
	div.polaroid{
		display: inline-block;
		margin-left: 6%;
	}
	img{
		width: 300px;
	}
}
